body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
.bavarian-pattern {
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    z-index: -10000;
    transform: skew(30deg) rotate(15deg);
    background-color: #ffffff; /* Ensure a white background base */
    background-image: 
    linear-gradient(45deg, #1580F5 25%, transparent 25.5%), 
    linear-gradient(-45deg, #1580F5 25%, transparent 25.5%), 
    linear-gradient(45deg, transparent 74.5%, #1580F5 75%), 
    linear-gradient(-45deg, transparent 74.5%, #1580F5 75%);
    background-position: 
      0 0, 
      0 150px, 
      150px -150px,
      -150px 0px;
    background-size: 300px 300px;
}

  